<!DOCTYPE html>
<html>
  <head>
    <title>Downloads</title>
    <style></style>
    <script>
      window.onload = function() {main();};


      function main() {
        var files = <%- JSON.stringify(files) %>;
        // var dates = ^^^dates from above>;

        for (var i=0; i<files.length; i++) {
          var div = document.getElementById('DIV');
          var adr = document.createElement('a');
          var br = document.createElement('br');
          // var label = document.createElement('label');
          var elemName = files[i];
          var link = "download/" + elemName;
              // label.setAttribute('id', elemName + "Label");
              // label.setAttribute('for', elemName);
              adr.setAttribute('href', link);
              adr.setAttribute('id', elemName);
              // div.appendChild(label);
              div.appendChild(adr);
              div.appendChild(br);
              // document.getElementById(elemName + "Label").innerHTML = dates[i];
              document.getElementById(elemName).innerHTML = elemName;
        }
      }
    </script>
  </head>
  <body>
    <div id="DIV"></div>
  </body>
</html>
