<!DOCTYPE html>
<html>
  <head>
    <title>Submited</title>
    <style>
    #TY {
      font-size: 50px;
      color: black;
    }
    #TT {
      font-size: 25px;
      color: black;
    }
    </style>
  </head>
  <body>
    <span id="TY">Thank You</span><br>
    <span id="TT">Your information has been recorded.</span>
  </body>
</html>
